<!--样式header-->
{include file="public/header"}

<!--头部-->
{include file="public/head_pc"}
<div class="head">
    <div class="wrap clearfix">

        <!--图书搜索-->
        {include file="public/book_seach"}

        <!--图书分类-->
        {include file="public/book_class"}

    </div>
</div>
<div class="wrap clearfix">
    <div class="fr mbr">

        <div class="posrelative bnbox">
            <div class="swiper-container swiper-container-bn">

                <div class="swiper-wrapper swiper-wrapper-bn">

                    <div class="swiper-slide">
                        <a class="bnimg" data-background="{$Think.INDEX_SITE_ROOT}/images/bn_03.jpg" href=""></a>
                    </div>

                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="clearfix mt_15">
            <div class="tab_head mbrtop">
                <ul class="clearfix">
                    <li class="active">新品特惠</li>
                    <li>本周精选</li>
                    <li>新书速递</li>
                    <li>读者热评</li>
                </ul>
            </div>
            <div class="tab_content mbrbot mt_15">
                <ul>
                    <li class="tab_content_li active">
                        <div class="clearfix mbrbw">
                            <a href="" class="mbrbwa fl disblock">
                                <div class="mbrbwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//mbrbook_03.png"/>
                                </div>
                                <p>留白:秋水堂论中西文学(田晓菲)</p>
                                <div><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                            <a href="" class="mbrbwa fl disblock">
                                <div class="mbrbwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//mbrbook_03.png"/>
                                </div>
                                <p>留白:秋水堂论中西文学(田晓菲)</p>
                                <div><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                            <a href="" class="mbrbwa fl disblock">
                                <div class="mbrbwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//mbrbook_03.png"/>
                                </div>
                                <p>留白:秋水堂论中西文学(田晓菲)</p>
                                <div><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                            <a href="" class="mbrbwa fl disblock">
                                <div class="mbrbwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//mbrbook_03.png"/>
                                </div>
                                <p>留白:秋水堂论中西文学(田晓菲)</p>
                                <div><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                            <a href="" class="mbrbwa fl disblock">
                                <div class="mbrbwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//mbrbook_03.png"/>
                                </div>
                                <p>留白:秋水堂论中西文学(田晓菲)</p>
                                <div><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                    </li>
                    <li class="tab_content_li">2</li>
                    <li class="tab_content_li">3</li>
                    <li class="tab_content_li">4</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrap mdft">
    <div class="mt_30 m1 clearfix">
        <div class="mdl m1l fl">
            <h4 class="mdltit">文学图书<i class="fa fa-angle-right ml5"></i></h4>
            <a href="" class="m1lbg textcenter" style="background: url({$Think.INDEX_SITE_ROOT}/images//m1l_03.jpg) no-repeat center;">
                <p>第七届茅盾文学奖<br />-挑担茶叶上北京</p>
                <img src="{$Think.INDEX_SITE_ROOT}/images//m1lpic_03.png"/>
            </a>
            <div class="m1ltxt ahover">
                <h4>小说排行榜</h4>
                <a href=""><i class="fa fa-angle-right mr5"></i>绞河镇的最后一夜</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>此岸天堂-菲茨杰拉德文萃</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>奇妙的云</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>赶马的老三</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>情-德国情话-关愚谦人生三部曲</a>
            </div>
        </div>
        <div class="mdr m1r fr">
            <div class="tab_head mdrtop">
                <ul class="clearfix">
                    <li class="active">小说<i></i></li>
                    <li>诗歌散文<i></i></li>
                    <li>悬疑推理<i></i></li>
                    <li>青春文学<i></i></li>
                </ul>
            </div>
            <div class="tab_content">
                <ul>
                    <li class="tab_content_li active">
                        <div class="clearfix m1rw">
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//mr_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="tab_content_li">2</li>
                    <li class="tab_content_li">3</li>
                    <li class="tab_content_li">4</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt_30 m1 clearfix">
        <div class="mdl m2l fl">
            <h4 class="mdltit">社科图书<i class="fa fa-angle-right ml5"></i></h4>
            <a href="" class="m1lbg textcenter" style="background: url({$Think.INDEX_SITE_ROOT}/images//m2l_03.jpg) no-repeat center;">
                <p>中国近代史：<br />1840-1919(第4版)</p>
                <img src="{$Think.INDEX_SITE_ROOT}/images//m2lpic_03.png"/>
            </a>
            <div class="m1ltxt ahover">
                <h4>小说排行榜</h4>
                <a href=""><i class="fa fa-angle-right mr5"></i>绞河镇的最后一夜</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>此岸天堂-菲茨杰拉德文萃</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>奇妙的云</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>赶马的老三</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>情-德国情话-关愚谦人生三部曲</a>
            </div>
        </div>
        <div class="mdr m2r fr">
            <div class="tab_head mdrtop">
                <ul class="clearfix">
                    <li class="active">历史<i></i></li>
                    <li>传记<i></i></li>
                    <li>哲学宗教<i></i></li>
                    <li>政治军事<i></i></li>
                </ul>
            </div>
            <div class="tab_content">
                <ul>
                    <li class="tab_content_li active">
                        <div class="clearfix m1rw">
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//mr_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="tab_content_li">2</li>
                    <li class="tab_content_li">3</li>
                    <li class="tab_content_li">4</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt_30 m1 clearfix">
        <div class="mdl m3l fl">
            <h4 class="mdltit">社科图书<i class="fa fa-angle-right ml5"></i></h4>
            <a href="" class="m1lbg textcenter" style="background: url({$Think.INDEX_SITE_ROOT}/images//m2l_03.jpg) no-repeat center;">
                <p>彩书坊-读故事<br />学汉字(轻型)</p>
                <img src="{$Think.INDEX_SITE_ROOT}/images//m3lpic_03.png"/>
            </a>
            <div class="m1ltxt ahover">
                <h4>小说排行榜</h4>
                <a href=""><i class="fa fa-angle-right mr5"></i>绞河镇的最后一夜</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>此岸天堂-菲茨杰拉德文萃</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>奇妙的云</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>赶马的老三</a>
                <a href=""><i class="fa fa-angle-right mr5"></i>情-德国情话-关愚谦人生三部曲</a>
            </div>
        </div>
        <div class="mdr m3r fr">
            <div class="tab_head mdrtop">
                <ul class="clearfix">
                    <li class="active">益智启蒙<i></i></li>
                    <li>儿童文学<i></i></li>
                    <li>精品绘本<i></i></li>
                </ul>
            </div>
            <div class="tab_content">
                <ul>
                    <li class="tab_content_li active">
                        <div class="clearfix m1rw">
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//mr_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                            <div class="fl m1rwl textcenter">
                                <a href="" class="m1rwa disblock">
                                    <div class="m1rwaimg">
                                        <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                    </div>
                                    <h4>说魂儿-扪虱谈鬼录之二</h4>
                                    <p>栾保群 著</p>
                                    <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="tab_content_li">2</li>
                    <li class="tab_content_li">3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m2 mt_30 m2rw">
        <div class="tab_head mdrtop">
            <ul class="clearfix">
                <li class="active">艺术<i></i></li>
                <li>美食<i></i></li>
                <li>旅游<i></i></li>
                <li>孕产/育儿<i></i></li>
                <li>外语<i></i></li>
                <li>辅导<i></i></li>
            </ul>
        </div>
        <div class="tab_content">
            <ul>
                <li class="tab_content_li active">
                    <div class="clearfix m1rw">
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//mr_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                        <div class="fl m1rwl textcenter">
                            <a href="" class="m1rwa disblock">
                                <div class="m1rwaimg">
                                    <img src="{$Think.INDEX_SITE_ROOT}/images//book_03.jpg"/>
                                </div>
                                <h4>说魂儿-扪虱谈鬼录之二</h4>
                                <p>栾保群 著</p>
                                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="tab_content_li">2</li>
                <li class="tab_content_li">3</li>
                <li class="tab_content_li">4</li>
                <li class="tab_content_li">5</li>
                <li class="tab_content_li">6</li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
    //获取 首页广告图

        // get_adv();


    });
    function get_adv() {

        var data = {
            "type": 'default',
        };

        var url=domain+'/apipc/home/advertisement';


        $.ajax({
            url: url,
            data: data,
            method: "GET",
            // dataType:'json',
            success: function (result) {
                console.log(result);
                var res=result.data;
// console.log(res);
                if (result.code == 1) {

                    var html='';
                    
                    for (var i=0;i<res.length;i++){

                        html+=`<div class="swiper-slide">
                        <a class="bnimg" data-background="`+res[i]['advertisement_image']+`"
                         href="`+res[i]['advertisement_url']+`"></a>
                    </div>`;
                    }

                    // $('#adv').html(html);

                    // return false;
                    // var mySwiper = new Swiper ('.swiper-container', {
                    //     // direction: 'vertical',
                    //     loop: true,
                    //     autoplay: 3500,
                    //     // 如果需要分页器
                    //     pagination: '.swiper-pagination',
                    //
                    //     // 如果需要前进后退按钮
                    //     nextButton: '.swiper-button-next',
                    //     prevButton: '.swiper-button-prev',
                    //
                    //     observer: true,
                    //     observerParents: true,
                    //
                    //     // //如果需要滚动条
                    //     // scrollbar: '.swiper-scrollbar',
                    //     //
                    //     // onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
                    //     //     swiperAnimateCache(swiper); //隐藏动画元素
                    //     //     swiperAnimate(swiper); //初始化完成开始动画
                    //     // },
                    //     // onSlideChangeEnd: function (swiper) {
                    //     //     swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                    //     // }
                    // });


                }else{
                    return false;
                }

            },
        })
        
    }


</script>


<!--底部-->
{include file="public/footer"}




