<!--样式header-->
{include file="public/header"}
<title>图书详情</title>
<!--头部-->
{include file="public/head_pc"}


<div class="head">
	<div class="wrap clearfix">
		<!--图书搜索-->
		{include file="public/book_seach"}

		<!--图书分类-->
		{include file="public/book_class"}
	</div>
</div>
	
	<div class="tjmd">
		<div class="bitit ahover">
			<div class="wrap">
				<a href="">云图购网</a> > <a href="">成功/励志</a> > <a href="">口才/演讲/辩论</a> > 说服力/说话技巧我一开口.就能说服所有人-马云说话之道
			</div>
		</div>
		<div class="wrap clearfix">
			<div class="bi1 mt_60 clearfix">
				<div class="fl bi1l">
					<div class="bi1limg posrelative">
						<img src="{$Think.INDEX_SITE_ROOT}/images/bi1pic_03.jpg"/>
						<i class="zmico"></i>
					</div>
					<!--隐藏图片放大层-->
					<div class="bi1bg textcenter">
						<div class="distab w100 h100">
							<div class="tab_cell w100">
								<img src="{$Think.INDEX_SITE_ROOT}/images/bi1pic_03.jpg"/>
							</div>
						</div>
					</div>
					<div class="bi1ltxt textcenter">
						<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/bi1ico1_03.png"/>分享（220人气）</a>
						<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/bi1ico2_03.png"/>收藏（668人气）</a>
					</div>
				</div>
				<div class="fr bi1r">
					<h4>我一开口.就能说服所有人-马云说话之道</h4>
					<p>作者：吴帝聪</p>
					<p>出版社：台海出版社</p>
					<p>出版时间：2015-01-01</p>
					<p>开本：16开&nbsp;&nbsp;&nbsp;页数：253</p>
					<p>读者评分：<i class="colorindex">5分</i>&nbsp;&nbsp;2条评论</p>
					<p class="jg">优惠价：<i class="colorindex bi1ri">¥23.5</i>&nbsp;&nbsp;&nbsp;&nbsp;定价: <em class="bi1rem">¥35.0</em></p>
					<p>本类榜单：成功/励志销量榜</p>
					<div class="bi1ra mt_15 clearfix">
						<a href="" class="fl active">立即购买</a>
						<a href="" class="fl">收藏</a>
						<div class="bi1ratxt fl">
							<span>温馨提醒：运费6元，满69元免运费</span>
							<span><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/wen_03.png"/>快递不能达地区使用邮政小包，运费14元起</span>
						</div>
					</div>
				</div>
			</div>
			<div class="bi2 mt_60 clearfix">
				<div class="fl bi2l">
					<div class="bi2lw">
						<h4 class="bi2lwtit">书友推荐</h4>
						<a href="" class="m1rwa disblock bi2la">
							<div class="m1rwaimg">
								<img src="{$Think.INDEX_SITE_ROOT}/images/book_03.jpg">
							</div>
							<h4>说魂儿-扪虱谈鬼录之二</h4>
							<p>栾保群 著</p>
							<div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
						</a>
						<a href="" class="bi2la1 clearfix disblock">现代文言<i class="fa fa-angle-right fr"></i></a>
						<a href="" class="bi2la1 clearfix disblock">随风飘舞的塑料布<i class="fa fa-angle-right fr"></i></a>
						<a href="" class="bi2la1 clearfix disblock">戏年<i class="fa fa-angle-right fr"></i></a>
						<a href="" class="bi2la1 clearfix disblock">物什记<i class="fa fa-angle-right fr"></i></a>
					</div>
					<div class="bi2lw mt_25">
						<h4 class="bi2lwtit">本类畅销</h4>
						<a href="" class="m1rwa disblock bi2la">
							<div class="m1rwaimg">
								<img src="{$Think.INDEX_SITE_ROOT}/images/book_03.jpg">
							</div>
							<h4>说魂儿-扪虱谈鬼录之二</h4>
							<p>栾保群 著</p>
							<div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
						</a>
						<a href="" class="m1rwa disblock bi2la">
							<div class="m1rwaimg">
								<img src="{$Think.INDEX_SITE_ROOT}/images/book_03.jpg">
							</div>
							<h4>说魂儿-扪虱谈鬼录之二</h4>
							<p>栾保群 著</p>
							<div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
						</a>
						<a href="" class="m1rwa disblock bi2la">
							<div class="m1rwaimg">
								<img src="{$Think.INDEX_SITE_ROOT}/images/book_03.jpg">
							</div>
							<h4>说魂儿-扪虱谈鬼录之二</h4>
							<p>栾保群 著</p>
							<div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
						</a>
					</div>
				</div>
				<div class="fr bi2r">
					<div class="bi2rtop">
						<a class="active bi2rtopa1" href="javascript:">商品详情</a>
						<a href="javascript:" class="bi2rtopa2">商品评论</a>
					</div>
					<div class="bi2r1">
						<div class="bi2r1w mt_30">
							<h4 class="bi2r1wtit">我一开口.就能说服所有人-马云说话之道 版权信息</h4>
							<div class="bi2r1w_1 mt_15">
								<table class="bi2r1w_1tab" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>ISBN：9787516804988</td>
										<td>条形码：9787516804988 ; 978-7-5168-0498-8</td>
										<td>装帧：暂无</td>
									</tr>
									<tr>
										<td>版次：暂无</td>
										<td>册数：暂无</td>
										<td>重量：暂无</td>
									</tr>
									<tr>
										<td colspan="3">印刷次数：1</td>
									</tr>
									<tr>
										<td colspan="3">所属分类：成功/励志>口才/演讲/辩论>说服力/说话技巧</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="bi2r1w mt_30">
							<h4 class="bi2r1wtit">我一开口.就能说服所有人-马云说话之道 本书特色</h4>
							<div class="bi2r1w_1 mt_15">
								《“我一开口，就能说服所有人”》一书选材于马云创业三十多年来在各种场合、大大小小的演讲和对话，尤其重点分析了马云在关键时刻的谈话，从中总结出马云的口才艺术，以及马云成功的原因。 　　马云的成功85%是“说”出来的。他的演讲极富气场，只要一开口仿佛所有的人都被他吸引过去。他善于用幽默风趣的语言、富于哲理的故事、肢体语言以及语不惊人未肯休的结论，打动听众。 　　本书通过对马云的演讲和对话的经验和技巧进行展示和分析，让你能活学活用马云口才的精髓，手把手教你用睿智、幽默、生动、犀利精练的语言打造属于你自己的气场。你也能轻易掌握演说技巧，打造自己的魔力口才。 　　马云的口才技巧和成功经验，只要你勤于练习和研究，终有一天，你也能做到“我一开口，就能说服所有人”。 
							</div>
						</div>
						<div class="bi2r1w mt_30">
							<h4 class="bi2r1wtit">我一开口.就能说服所有人-马云说话之道 内容简介</h4>
							<div class="bi2r1w_1 mt_15">
								《“我一开口，就能说服所有人”》一书选材于马云创业三十多年来在各种场合、大大小小的演讲和对话，尤其重点分析了马云在关键时刻的谈话，从中总结出马云的口才艺术，以及马云成功的原因。 　　马云的成功85%是“说”出来的。他的演讲极富气场，只要一开口仿佛所有的人都被他吸引过去。他善于用幽默风趣的语言、富于哲理的故事、肢体语言以及语不惊人未肯休的结论，打动听众。 　　本书通过对马云的演讲和对话的经验和技巧进行展示和分析，让你能活学活用马云口才的精髓，手把手教你用睿智、幽默、生动、犀利精练的语言打造属于你自己的气场。你也能轻易掌握演说技巧，打造自己的魔力口才。 　　马云的口才技巧和成功经验，只要你勤于练习和研究，终有一天，你也能做到“我一开口，就能说服所有人”。 
							</div>
						</div>
						<div class="bi2r1w mt_30">
							<h4 class="bi2r1wtit">我一开口.就能说服所有人-马云说话之道 目录</h4>
							<div class="bi2r1w_1 mt_15">
								<div class="bi2r1w_2">
									<div class="bi2r1w_2a">
										<a href="">**章 说话不自信的士兵，当不了将军</a>
										<a href="">像马云一样说话有自信，所有人都挺你</a>
										<a href="">言语自信，更添魅力 003</a>
										<a href="">做专业领域内的“话语权威” 005</a>
										<a href="">马云的身体也会“说话” 008</a>
										<a href="">煽情不是错，用感染力“俘获”人心 010
										<a href="">讲自己相信的，别人才能信 012</a>
										<a href="">激情，是情感的“引线” 015</a>
										<a href="">无论被拒绝多少次，都不要闭嘴 017</a>
										<a href="">把“坏”事往好里说 019</a>
										<a href="">**章 说话不自信的士兵，当不了将军</a>
										<a href="">像马云一样说话有自信，所有人都挺你</a>
										<a href="">言语自信，更添魅力 003</a>
										<a href="">做专业领域内的“话语权威” 005</a>
										<a href="">马云的身体也会“说话” 008</a>
										<a href="">煽情不是错，用感染力“俘获”人心 010
										<a href="">讲自己相信的，别人才能信 012</a>
										<a href="">激情，是情感的“引线” 015</a>
										<a href="">无论被拒绝多少次，都不要闭嘴 017</a>
										<a href="">把“坏”事往好里说 019</a>
									</div>
									<i class="colorindex zkqb">展开全部<em class="fa fa-angle-down ml5"></em></i>
								</div>
							</div>
						</div>
						<div class="bi2r1w mt_30">
							<h4 class="bi2r1wtit">我一开口.就能说服所有人-马云说话之道 作者简介</h4>
							<div class="bi2r1w_1 mt_15">
								《“我一开口，就能说服所有人”》一书选材于马云创业三十多年来在各种场合、大大小小的演讲和对话，尤其重点分析了马云在关键时刻的谈话，从中总结出马云的口才艺术，以及马云成功的原因。 　　马云的成功85%是“说”出来的。他的演讲极富气场，只要一开口仿佛所有的人都被他吸引过去。他善于用幽默风趣的语言、富于哲理的故事、肢体语言以及语不惊人未肯休的结论，打动听众。 　　本书通过对马云的演讲和对话的经验和技巧进行展示和分析，让你能活学活用马云口才的精髓，手把手教你用睿智、幽默、生动、犀利精练的语言打造属于你自己的气场。你也能轻易掌握演说技巧，打造自己的魔力口才。 　　马云的口才技巧和成功经验，只要你勤于练习和研究，终有一天，你也能做到“我一开口，就能说服所有人”。 
							</div>
						</div>
					</div>
					<div class="bi2r2 mt_40">
						<div class="bi2r2tit">
							商品评论（1条）
						</div>
						<div class="bi2r2a clearfix">
							<span class="fl">读者:ztw***</span>
							<div class="fl bi2r2am">
								<p>
									<span>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
									</span>
									主题：
								</p>
								<p>经典读物，看见就赶紧下单了，趁着活动买的，书的品相很好<em>2019-12-22 12:21</em></p>
							</div>
							<div class="fr bi2r2ar clearfix">
								<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/z1_03.png"/>1</a>
								<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/z2_03.png"/>1</a>
							</div>
						</div>
						<div class="bi2r2a clearfix">
							<span class="fl">读者:ztw***</span>
							<div class="fl bi2r2am">
								<p>
									<span>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
									</span>
									主题：
								</p>
								<p>经典读物，看见就赶紧下单了，趁着活动买的，书的品相很好<em>2019-12-22 12:21</em></p>
							</div>
							<div class="fr bi2r2ar clearfix">
								<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/z1_03.png"/>1</a>
								<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/z2_03.png"/>1</a>
							</div>
						</div>
						<div class="bi2r2a clearfix">
							<span class="fl">读者:ztw***</span>
							<div class="fl bi2r2am">
								<p>
									<span>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
										<i class="fa fa-heart"></i>
									</span>
									主题：
								</p>
								<p>经典读物，看见就赶紧下单了，趁着活动买的，书的品相很好<em>2019-12-22 12:21</em></p>
							</div>
							<div class="fr bi2r2ar clearfix">
								<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/z1_03.png"/>1</a>
								<a href=""><img class="middle mr5" src="{$Think.INDEX_SITE_ROOT}/images/z2_03.png"/>1</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<script type="text/javascript">
		$(".zmico,.bi1bg").click(function(){
			$(".bi1bg").toggle();
		})
		$(".zkqb").click(function(){
			$(this).toggle();
			$(".bi2r1w_2a").css("height","auto")
		})
		$(".bi2rtopa1").click(function(){
			$('html,body').animate({
		        scrollTop: $(".bi2r1").offset().top - 80
		    }, 600);
		})
		$(".bi2rtopa2").click(function(){
			$('html,body').animate({
		        scrollTop: $(".bi2r2").offset().top - 20
		    }, 600);
		})
	</script>
<!--底部-->
{include file="public/footer"}