
<!--样式header-->
{include file="public/header"}
<!--头部-->
{include file="public/head_pc"}
<title>畅销排行榜</title>

<div class="head">
    <div class="wrap clearfix">
        <!--图书搜索-->
        {include file="public/book_seach"}

        <!--图书分类-->
        {include file="public/book_class"}
    </div>
</div>


<div class="lmd">
    <div class="wrap clearfix">
        <div class="lmdtit ahover">
            <a href="">云图购图书网</a> > 畅销排行榜
        </div>
        <div class="clearfix">
            <div class="fl hl">
                <div class="cxl">
                    <div class="cxltit">图书畅销榜</div>
                    <div class="cxlbot">
                        <a href="" class="cxlbota cxlbota1">总榜</a>
                    </div>
                    <div class="cxlbot">
                        <a href="javascript:" class="cxlbota">文学类<i></i></a>
                        <div class="cxlbotw">
                            <a href="">文学</a>
                            <a href="">小说</a>
                            <a href="">青春文学</a>
                            <a href="">动漫幽默</a>
                        </div>
                    </div>
                    <div class="cxlbot">
                        <a href="" class="cxlbota">少儿类</a>
                    </div>
                    <div class="cxlbot">
                        <a href="javascript:" class="cxlbota">社科类<i></i></a>
                        <div class="cxlbotw">
                            <a href="">古籍</a>
                            <a href="">社会科学</a>
                            <a href="">历史</a>
                            <a href="">传记</a>
                            <a href="">文化</a>
                            <a href="">经济</a>
                            <a href="">管理</a>
                            <a href="">成功/励志</a>
                            <a href="">宗教哲学</a>
                        </div>
                    </div>
                    <div class="cxlbot">
                        <a href="javascript:" class="cxlbota">艺术类<i></i></a>
                        <div class="cxlbotw">
                            <a href="">古籍</a>
                            <a href="">社会科学</a>
                            <a href="">历史</a>
                            <a href="">传记</a>
                        </div>
                    </div>
                    <div class="cxlbot">
                        <a href="javascript:" class="cxlbota">文教类<i></i></a>
                        <div class="cxlbotw">
                            <a href="">古籍</a>
                            <a href="">社会科学</a>
                            <a href="">历史</a>
                            <a href="">传记</a>
                        </div>
                    </div>
                    <div class="cxlbot">
                        <a href="javascript:" class="cxlbota">生活类<i></i></a>
                        <div class="cxlbotw">
                            <a href="">古籍</a>
                            <a href="">社会科学</a>
                            <a href="">历史</a>
                            <a href="">传记</a>
                        </div>
                    </div>
                    <div class="cxlbot">
                        <a href="" class="cxlbota">未分类</a>
                    </div>
                </div>
            </div>
            <div class="fr hr">
                <div class="cxrt">
                    <h4 class="cxrtit">畅销榜TOP1000<i>本榜单为零售图书销售排行</i></h4>
                    <div class="clearfix cxrtw">
                        <span class="fl">时间</span>
                        <div class="fr cxrtwr">
                            <a class="active" href="javascript:">近24小时</a>
                            <a href="javascript:">近2天</a>
                            <a href="javascript:">近3天</a>
                            <a href="javascript:">近7天</a>
                            <a href="javascript:">近1月</a>
                        </div>
                    </div>
                    <div class="clearfix cxrtw">
                        <span class="fl">优惠</span>
                        <div class="fr cxrtwr">
                            <a class="active" href="javascript:">全部折扣</a>
                            <a href="javascript:">5折以下</a>
                            <a href="javascript:">5折以上</a>
                        </div>
                    </div>
                </div>
                <div class="cxrw clearfix">
                    <div class="fl cxra clearfix">
                        <i class="cxraico cxraico_active">1</i>
                        <a href="" class="fl cxraimg">
                            <img src="{$Think.INDEX_SITE_ROOT}/images/zwt_03.png"/>
                        </a>
                        <div class="fr cxratxt">
                            <a href="" class="cxratxta1">上海古籍版四大名著-精装本（含藏书）</a>
                            <p>著者：吴帝聪</p>
                            <p>出版时间：2015-01-01</p>
                            <p>出版社：台海出版社</p>
                            <div class="cxratxt1"><i>¥23.5</i>（6.7折）<em>¥35.0</em></div>
                            <div class="cxratxtbot">
                                <a href="" class="active">购买</a>
                                <a href="">收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="fl cxra clearfix">
                        <i class="cxraico cxraico_active">2</i>
                        <a href="" class="fl cxraimg">
                            <img src="{$Think.INDEX_SITE_ROOT}/images/shu_03.png"/>
                        </a>
                        <div class="fr cxratxt">
                            <a href="" class="cxratxta1">上海古籍版四大名著-精装本（含藏书）</a>
                            <p>著者：吴帝聪</p>
                            <p>出版时间：2015-01-01</p>
                            <p>出版社：台海出版社</p>
                            <div class="cxratxt1"><i>¥23.5</i>（6.7折）<em>¥35.0</em></div>
                            <div class="cxratxtbot">
                                <a href="" class="active">购买</a>
                                <a href="">收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="fl cxra clearfix">
                        <i class="cxraico cxraico_active">3</i>
                        <a href="" class="fl cxraimg">
                            <img src="{$Think.INDEX_SITE_ROOT}/images/zwt_03.png"/>
                        </a>
                        <div class="fr cxratxt">
                            <a href="" class="cxratxta1">上海古籍版四大名著-精装本（含藏书）</a>
                            <p>著者：吴帝聪</p>
                            <p>出版时间：2015-01-01</p>
                            <p>出版社：台海出版社</p>
                            <div class="cxratxt1"><i>¥23.5</i>（6.7折）<em>¥35.0</em></div>
                            <div class="cxratxtbot">
                                <a href="" class="active">购买</a>
                                <a href="">收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="fl cxra clearfix">
                        <i class="cxraico">4</i>
                        <a href="" class="fl cxraimg">
                            <img src="{$Think.INDEX_SITE_ROOT}/images/shu_03.png"/>
                        </a>
                        <div class="fr cxratxt">
                            <a href="" class="cxratxta1">上海古籍版四大名著-精装本（含藏书）</a>
                            <p>著者：吴帝聪</p>
                            <p>出版时间：2015-01-01</p>
                            <p>出版社：台海出版社</p>
                            <div class="cxratxt1"><i>¥23.5</i>（6.7折）<em>¥35.0</em></div>
                            <div class="cxratxtbot">
                                <a href="" class="active">购买</a>
                                <a href="">收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="fl cxra clearfix">
                        <i class="cxraico">5</i>
                        <a href="" class="fl cxraimg">
                            <img src="{$Think.INDEX_SITE_ROOT}/images/zwt_03.png"/>
                        </a>
                        <div class="fr cxratxt">
                            <a href="" class="cxratxta1">上海古籍版四大名著-精装本（含藏书）</a>
                            <p>著者：吴帝聪</p>
                            <p>出版时间：2015-01-01</p>
                            <p>出版社：台海出版社</p>
                            <div class="cxratxt1"><i>¥23.5</i>（6.7折）<em>¥35.0</em></div>
                            <div class="cxratxtbot">
                                <a href="" class="active">购买</a>
                                <a href="">收藏</a>
                            </div>
                        </div>
                    </div>
                    <div class="fl cxra clearfix">
                        <i class="cxraico">6</i>
                        <a href="" class="fl cxraimg">
                            <img src="{$Think.INDEX_SITE_ROOT}/images/shu_03.png"/>
                        </a>
                        <div class="fr cxratxt">
                            <a href="" class="cxratxta1">上海古籍版四大名著-精装本（含藏书）</a>
                            <p>著者：吴帝聪</p>
                            <p>出版时间：2015-01-01</p>
                            <p>出版社：台海出版社</p>
                            <div class="cxratxt1"><i>¥23.5</i>（6.7折）<em>¥35.0</em></div>
                            <div class="cxratxtbot">
                                <a href="" class="active">购买</a>
                                <a href="">收藏</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page mt_50 textcenter">
                    <a class="pagea" href="">上一页</a>
                    <a class="active" href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">...</a>
                    <a href="">30</a>
                    <a class="pagea" href="">下一页</a>
                    <span class="ml5">共30页</span>
                    <span>到<input class="pageipt1" type="text" name="" id="" value="" />页</span>
                    <input class="pageipt2 hoverop" type="submit" name="" id="" value="确定" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部-->
{include file="public/footer"}
