
<!--样式header-->
{include file="public/header"}
<title>特价图书</title>
<!--头部-->
{include file="public/head_pc"}


<div class="head">
    <div class="wrap clearfix">
        <!--图书搜索-->
        {include file="public/book_seach"}

        <!--图书分类-->
        {include file="public/book_class"}
    </div>
</div>

<div class="tjbn mt_20" style="background: url({$Think.INDEX_SITE_ROOT}/images/tjbn_02.jpg) no-repeat center;"></div>

<div class="tjmd">
    <div class="wrap clearfix">
        <div class="tjtop textcenter">
            <span>特价列表</span>
        </div>
        <div class="tjw clearfix">
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/zwt_03.png"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
            <div class="fl tja">
                <a href="" class="tjaimg"><img src="{$Think.INDEX_SITE_ROOT}/images/shu1_03.jpg"/></a>
                <a href="" class="tja1">熊十力传</a>
                <p>叶贤恩 著 湖北人民出版社</p>
                <div class="jg"><i>￥19.5</i><em>￥32.0</em></div>
                <div class="cxratxtbot cxratxtbotcp clearfix">
                    <a href="bookinfo.html" class="fl active">购买</a>
                    <a href="" class="fr">收藏</a>
                </div>
            </div>
        </div>
        <div class="page mt_50 textcenter">
            <a class="pagea" href="">上一页</a>
            <a class="active" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">...</a>
            <a href="">30</a>
            <a class="pagea" href="">下一页</a>
            <span class="ml5">共30页</span>
            <span>到<input class="pageipt1" type="text" name="" id="" value="" />页</span>
            <input class="pageipt2 hoverop" type="submit" name="" id="" value="确定" />
        </div>
    </div>
</div>


<!--底部-->
{include file="public/footer"}