<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/sanren.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<title>登录</title>
	</head>
	<body>
	
	<div class="hd1">
		<div class="wrap clearfix">
			<div class="fl hd1l">
				欢迎光临云图购网站&nbsp;&nbsp;请<a href="login.html">登录</a><i>丨</i><a href="reg.html">注册</a>
			</div>
			<div class="fr hd1r">
				<span><a href="">商家后台</a></span>
				<span><a href="">买家后台</a></span>
				<span><a href="">帮助中心</a></span>
				<span>
					<a href="">手机端<i class="fa fa-caret-down ml5"></i></a>
					<div class="hdrewm">
						<img src="images/ewm_03.jpg"/>
					</div>
				</span>
			</div>
		</div>
	</div>
	<div class="lghead">
		<div class="wrap clearfix">
			<a href="index.html" class="logo fl"><img src="images/logo_03.png"/></a>
			<div class="fr lghr">
				<span><img src="images/lh1_03.png"/>正版图书</span>
				<span><img src="images/lh2_03.png"/>精品团购</span>
				<span><img src="images/lh3_03.png"/>全国速达</span>
			</div>
		</div>
	</div>
	
	<div class="lmd">
		<div class="wrap clearfix">
			<div class="lgwidth">
				<div class="lgtit">
					<span></span>用户登录
				</div>
				<div class="textcenter">
					<div class="lgw mt_40">
						<div class="clearfix lgb">
							<span class="fl">用户名：</span>
							<div class="fr lgbr lgbrinput">
								<input type="password" placeholder="用户名/邮箱/手机号" name="" id="" value="" />
							</div>
						</div>
						<div class="clearfix lgb">
							<span class="fl">密码：</span>
							<div class="fr lgbr lgbrinput">
								<input type="text" placeholder="请输入密码" name="" id="" value="" />
							</div>
						</div>
						<div class="clearfix lgb">
							<span class="fl">验证码：</span>
							<div class="fr lgbr lgbrinput lgbrinputcp clearfix">
								<input class="fl" type="text" placeholder="请输入验证码" name="" id="" value="" />
								<div class="code fl"><img src="images/code_03.png"/></div>
								<i class="fr">换一个</i>
							</div>
						</div>
						<div class="clearfix lgb">
							<span class="fl"></span>
							<div class="fr lgbr lgbrsbm">
								<input type="submit" class="hoverop" name="" id="" value="登录" />
							</div>
						</div>
						<div class="clearfix lgb">
							<span class="fl"></span>
							<div class="fr lgbr lgbra clearfix">
								<a href="" class="fl">忘记密码？</a>
								<a href="reg.html" class="fr">新用户注册</a>
							</div>
						</div>
						<div class="clearfix lgb">
							<span class="fl"></span>
							<div class="fr lgbr lgbrline posrelative textcenter mt_10">
								<span>使用第三方登录</span>
							</div>
						</div>
						<div class="clearfix lgb">
							<span class="fl"></span>
							<div class="fr lgbr lgbrb textcenter mt_20">
								<a href="">
									<img class="middle" src="images/lgico1_03.png"/>微信
								</a>
								<i></i>
								<a href="">
									<img class="middle" src="images/lgico2_03.png"/>QQ
								</a>
								<i></i>
								<a href="">
									<img class="middle" src="images/lgico3_03.png"/>微博
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="foot">
		<div class="wrap">
			<div class="ft1 textcenter">
				<div class="ft1w clearfix">
					<img class="fl" src="images/ft1ico1_03.png"/>
					<div class="fl ft1wtxt">
						<p>正版保证</p>
						<p>放心购买</p>
					</div>
				</div>
				<div class="ft1w clearfix">
					<img class="fl" src="images/ft1ico2_03.png"/>
					<div class="fl ft1wtxt">
						<p>精品团购</p>
						<p>10点上新</p>
					</div>
				</div>
				<div class="ft1w clearfix">
					<img class="fl" src="images/ft1ico3_03.png"/>
					<div class="fl ft1wtxt">
						<p>尾货图书</p>
						<p>超低折扣</p>
					</div>
				</div>
				<div class="ft1w clearfix">
					<img class="fl" src="images/ft1ico4_03.png"/>
					<div class="fl ft1wtxt">
						<p>全国快递</p>
						<p>快马加鞭</p>
					</div>
				</div>
			</div>
			<p class="ft2">Copyright ©2019斑马悦读 广西弘轩文化投资有限公司  桂ICP备18005599号</p>
			<div class="ft3 textcenter">
				<div class="ft3bw clearfix">
					<a href="" class="ft3b clearfix">
						<img class="fl" src="images/ftbico1_03.png"/>
						<p class="fl">经营性网站<br />备案信息</p>
					</a>
					<a href="" class="ft3b clearfix">
						<img class="fl" src="images/ftbico2_03.png"/>
						<p class="fl">可信网站<br />信用评价</p>
					</a>
					<a href="" class="ft3b clearfix">
						<img class="fl" src="images/ftbico3_03.png"/>
						<p class="fl">网络警察<br />提醒您</p>
					</a>
					<a href="" class="ft3b ft3b1 clearfix">
						<img class="fl mt0" src="images/ftbico4_03.png"/>
						<p class="fl">诚信网站</p>
					</a>
					<a href="" class="ft3b clearfix">
						<img class="fl" src="images/ftbico5_03.png"/>
						<p class="fl">中国互联网<br />举报中兴</p>
					</a>
					<a href="" class="ft3b clearfix">
						<img class="fl" src="images/ftbico1_03.png"/>
						<p class="fl">网络举报<br />APP下载</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	</body>
</html>
