<div class="hd1">
    <div class="wrap clearfix">
        <div class="fl hd1l">
            欢迎光临云图购网站&nbsp;&nbsp;请<a href="{:url('user/login')}">登录</a><i>丨</i><a href="{:url('user/register')}">注册</a>
        </div>
        <div class="fr hd1r">
            <span><a href="">商家后台</a></span>
            <span><a href="">买家后台</a></span>
            <span><a href="">帮助中心</a></span>
            <span>
					<a href="{:url('wap/user/login')}">手机端<i class="fa fa-caret-down ml5"></i></a>
					<div class="hdrewm">
						<img src="{$Think.INDEX_SITE_ROOT}/images/ewm_03.jpg"/>
					</div>
				</span>
        </div>
    </div>
</div>
