@charset "utf-8";
.hd1{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #e5e5e5;
	background: #f2f2f2;
	font-family: "宋体"; 
	font-size: 12px;
}
.hd1l a{
	color: #de0202;
	margin: 0 3px;
}
.hd1l i{
	color: #999;
}
.hd1r span{
	margin-left: 10px;
	position: relative;
	display: inline-block;
}
.hdrewm{
	position: absolute;
	right: 0;
	top: 30px;
	border: 1px solid #e5e5e5;
	display: none;
}
.hd1r span:hover .hdrewm{
	display: block;
}
.hdrewm img{
	display: block;
	border: 0;
	width: 46px;
}
.hd1r span:hover a{
	color: #DE0202;
}
.head{
	border-bottom: 2px solid #DE0202;
}
.headt{
	margin-top: 12px;
}
.logo{
	display: inline-block;
	height: 55px;
}
.logo img{
	display: block;
	height: 100%;
}
.scw{
	margin-left: 150px;
}
.scw1_l{
	border: 2px solid #DE0202;
}
.scw1ipt_l{
	width: 430px;
	height: 36px;
	padding-left: 10px;
}
.scw1select_span{
	display: block;
	line-height: 36px;
	color: #999;
	padding: 0 10px;
	cursor: pointer;
	border-left: 1px solid #999;
	width: 90px;
	text-align: center;
}
.scw1select:hover .scw1select_span{
	border-left: 1px solid #999;
}
.scw1select_hide{
	position: absolute;
	right: 0;
	top: 36px;
	background: #fff;
	border: 1px solid #999999;
	border-top: 0;
	padding: 0 10px;
	width: 90px;
	display: none;
	z-index: 99;
}
.scw1select_hide span{
	color: #999;
	display: block;
	cursor: pointer;
	line-height: 25px;
}
.scw1select_hide span:hover{
	color: #DE0202;
}
.scw1ipt_r{
	line-height: 40px;
	background: #DE0202;
	color: #fff;
	font-size: 16px;
	width: 87px;
	cursor: pointer;
}
.scwa{
	color: #DE0202;
	font-size: 16px;
	margin-left: 15px;
	line-height: 40px;
}
.ahover a:hover{
	color: #DE0202;
}
.scw2{
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}
.scw2 a{
	color: #999;
	margin: 0 10px;
}
.hdb{
	margin-top: 22px;
}
.hdblsp{
	width: 230px;
	background: #DE0202;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 0 10px;
	cursor: pointer;
}
.hdblsp i{
	line-height: 40px;
	font-size: 30px;
}
.hdblsp img{
	margin-right: 10px;
}
.nava{
	font-size: 16px;
	color: #000;
	line-height: 40px;
	margin-left: 10px;
	margin-right: 60px;
}
.nava:hover,.nava.active{
	color: #DE0202;
}
.lnav{
	border: 1px solid #DE0202;
	width: 230px;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 999;
}
.lnav_li{
	position: relative;
	padding: 12px 10px 0 10px;
	border: 2px solid rgba(0,0,0,0);
	border-right: 0;
}
.lnll {
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
.lnav_li:last-child .lnll{
	border-bottom: 0;
}
.lnll h4{
	font-size: 16px;
	color: #DE0202;
	margin-bottom: 5px;
}
.lnllw a{
	color: #282828;
	margin-right: 10px;
	display: inline-block;
	line-height: 26px;
}
.lnav_li:hover{
	border: 2px solid #DE0202;
	border-right: 0;
}
.lnav_li:hover .lnll{
	border-bottom: 1px solid rgba(0,0,0,0);
}
.lnav_li_line{
	width:3px;
	height: 100%;
	display: block;
	background: #fff;
	position: absolute;
	left: 100%;
	margin-left: 0px;
	top: 0px;
	z-index: 9999;
	display: none;
}
.lnlr{
	width: 615px;
	border: 2px solid #DE0202;
	position: absolute;
	left: 100%;
	top: 0;
	margin-top: -2px;
	padding: 0 20px 0 10px;
	z-index: 999;
	background: #fff;
	display: none;
}
.lnav_li:hover .lnlr,.lnav_li:hover .lnav_li_line{
	display: block;
}
.lnlrw{
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.lnlrw:last-child{
	border-bottom: 0;
}
.lnlrw h4{
	width: 72px;
	color: #DE0202;
	line-height: 30px;
}
.lnlrwr{
	width: 500px;
}
.lnlrwr a{
	line-height: 30px;
	color: #282828;
	display: inline-block;
}
.lnlrwr i{
	display: inline-block;
	margin: 0 5px;
	color: #999;
}
.hdbl,.mdft{
	font-family: SansHans;
}
.mbr{
	width: 960px;
}
.mbrtop li{
	float: left;
	margin-right: 28px;
	line-height: 16px;
	height: 16px;
	font-size: 16px;
	color: #282828;
	border-left: 3px solid #282828;
	padding-left: 10px;
	cursor: pointer;
}
.mbrtop li.active{
	color: #DE0202;
	border-left: 3px solid #DE0202;
}
.mbrbot {
	min-height: 212px;
}
.mbrbw{
	width: 108%;
}
.mbrbwa{
	width: 12%;
	margin-left: 2%;
	margin-right: 5%;
	text-align: center;
}
.mbrbwaimg{
	text-align: center;
	height: 145px;
}
.mbrbwaimg img{
	max-height: 100%;
	max-width: 80%;
}
.mbrbwa p{
	color: #282828;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	margin: 5px 0;
}
.mbrbwa i{
	color: #db2626;
	font-size: 16px;
	margin-right: 5px;
}
.mbrbwa em{
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
}
.mdl{
	width: 228px;
}
.mdl .mdltit{
	height: 55px;
	color: #fff;
	font-size: 22px;
	text-align: center;
	line-height: 55px;
	font-weight: normal;
}
.mdl .mdltit i{
	font-size: 26px;
	margin-left: 10px;
}
.m1l .mdltit{
	background: #05a9dd;
}
.m2l .mdltit{
	background: #a77641;
}
.m3l .mdltit{
	background: #9dc504;
}
.m1lbg{
	background: url(../images/m1l_03.jpg) no-repeat center;
	background-size: cover !important;
	display: block;
	height: 375px;
}
.m1lbg img{
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 160px;
}
.m1l .m1lbg p{
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	padding-top: 30px;
}
.m2l .m1lbg p{
	color: #8d0a0a;
	font-size: 20px;
	line-height: 30px;
	padding-top: 30px;
}
.m3l .m1lbg p{
	color: #3b6b15;
	font-size: 20px;
	line-height: 30px;
	padding-top: 30px;
}
.m1ltxt{
	padding: 10px;
}
.m1ltxt h4{
	font-size: 18px;
	color: #282828;
	font-weight: normal;
	padding-left: 8px;
	margin-bottom: 5px;
}
.m1ltxt a{
	display: block;
	line-height: 30px;
	font-size: 12px;
	color: #282828;
}
.m1l .m1ltxt{
	background: #cae7f0;
}
.m2l .m1ltxt{
	background: #f0d4ca;
}
.m3l .m1ltxt{
	background: #dff0ca;
}
.mdr{
	width: 972px;
}
.mdrtop{
	height: 55px;
	background: #f1f1f1;
	font-size: 18px;
	padding-left: 10px;
}
.mdrtop li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-top: 12px;
	border-right: 1px solid #ccc;
	padding: 0 20px;
	position: relative;
	cursor: pointer;
}
.mdrtop li i{
	width: 70%;
	height: 2px;
	background: rgba(0,0,0,0);
	position: absolute;
	left: 15%;
	top: 0;
	margin-top: -12px;
	display: none;
}
.m1r .mdrtop li.active{
	color: #05a9dd;
}
.m1r .mdrtop li.active i{
	background: #05A9DD;
	display: block;
}
.m2r .mdrtop li.active{
	color: #a77641;
}
.m2r .mdrtop li.active i{
	background: #a77641;
	display: block;
}
.m3r .mdrtop li.active{
	color: #9dc504;
}
.m3r .mdrtop li.active i{
	background: #9dc504;
	display: block;
}
.m1rwl{
	width: 25%;
	margin-top: 20px;
}
.m1rwa{
	width: 150px;
	margin: 0 auto;
	text-align: left;
}
.m1rwa h4{
	color: #282828;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	margin: 3px 0;
}
.m1rwa p{
	color: #656565;
}
.jg i{
	color: #db2626;
	font-size: 16px;
	margin-right: 5px;
}
.jg em{
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
}
.m1rwaimg{
	height: 200px;
	overflow: hidden;
	text-align: center;
}
.m1rwaimg img{
	max-height: 100%;
	max-width: 100%;
}
.m1rwa:hover h4{
	color: #DE0202;
}
.m2rw .m1rwl{
	width: 20%;
}
.m2rw .mdrtop li.active{
	color: #db2626;
}
.m2rw .mdrtop li.active i{
	display: block;
	background: #DB2626;
}
.foot{
	margin-top: 100px;
	background: #f5f5f5;
	padding-bottom: 10px;
}
.ft1{
	padding: 25px 0;
}
.ft1w{
	display: inline-block;
	margin: 0 40px;
}
.ft1wtxt{
	font-size: 14px;
	color: #e60405;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #dadada;
	margin-top: 5px;
}
.ft2{
	font-size: 12px;
	color: #666;
	text-align: center;
}
.ft3{
	margin: 25px 0 0 0;
}
.ft3bw{
	display: inline-block;
}
.ft3b{
	color: #333;
	font-size: 12px;
	margin: 0 10px;
	float: left;
}
.ft3b img{
	margin-top: 3px;
	margin-right: 10px;
}
.ft3b img.mt0{
	margin-top: 0;
}
.ft3b1{
	margin-top: 7px;
}
.lmd{
	padding: 40px 0;
}
.lnavlist{
	display: none;
	background: #fff;
}
.hdbl:hover .lnavlist{
	display: block;
}
.hl{
	width: 200px;
}
.hr{
	width: 980px;
}
.hl1{
	border: 1px solid #bfbdbd;
	font-family: SansHans;
}
.hl1tit{
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	background: #efefef;
	padding: 0 15px;
	font-weight: normal;
}
.hl1a a{
	display: block;
	line-height: 38px;
	border-bottom: 1px solid #EFEFEF;
	padding: 0 15px;
}
.hl1a a i{
	margin-right: 5px;
}
.hl1a a:hover,.hl1a a.active{
	color: #DE0202;
}
.hl1a a:last-child{
	border: 0;
}
.hl1b{
	padding: 10px;
	border-bottom: 1px solid #EFEFEF;
}
.hl1b:last-child{
	border: 0;
}
.hl1b h4{
	color: #DE0202;
	margin-bottom: 5px;
}
.hrcw{
	font-family: SansHans;
}
.hrctit{
	height: 50px;
	background: #efefef;
	color: #DE0202;
	font-size: 18px;
	line-height: 50px;
}
.hrcbox{
	padding: 15px 0;
}
.hrcbox h4{
	font-size: 16px;
	line-height: 28px;
}
.hrcbox p{
	font-size: 16px;
	color: #656565;
	line-height: 28px;
}
.lmdtit{
	font-size: 16px;
	margin-bottom: 10px;
}
.cxl{
	border: 1px solid #bfbdbd;
}
.cxltit{
	height: 48px;
    line-height: 48px;
    font-size: 18px;
    background: #efefef;
    padding: 0 15px;
    font-weight: normal;
}
.cxlbota{
	line-height: 36px;
	display: block;
	padding: 0 25px;
	font-size: 16px;
	background: #f4d1d1;
	border-bottom: 1px solid #fff;
	position: relative;
	font-weight: bold;
}
.cxlbota i{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/zk_03.png) no-repeat center;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -6px;
}
.cxlbota_active i{
	background: url(../images/sq_03.png) no-repeat center;
}
.cxlbota1{
	background: #DE0202;
	color: #fff;
}
.cxlbotw{
	padding: 5px 0;
	display: none;
}
.cxlbotw a{
	line-height: 26px;
	color: #666;
	padding: 0 25px;
	display: block;
	font-weight: bold;
}
.cxlbot:last-child .cxlbota{
	border: 0;
}
.cxlbotw a:hover{
	color: #DE0202;
}
.cxrt{
	border: 1px solid #ededed;
}
.cxrtit{
	height: 44px;
	font-size: 20px;
	color: #db2626;
	font-weight: normal;
	line-height: 44px;
	padding: 0 20px;
	background: #ededed;
}
.cxrtit i{
	font-size: 16px;
	color: #666;
	margin-left: 10px;
}
.cxrtw{
	border-bottom: 1px solid #e3e3e3;
}
.cxrtw:last-child{
	border-bottom: 0;
}
.cxrtw span.fl{
	width: 120px;
	text-align: center;
	line-height: 40px;
	background: #EDEDED;
	font-size: 16px;
}
.cxrtwr{
	width: 858px;
}
.cxrtwr a{
	line-height: 30px;
	margin-top: 5px;
	display: inline-block;
	padding: 0 20px;
	color: #666;
	font-size: 16px;
}
.cxrtwr a:hover,.cxrtwr a.active{
	color: #DB2626;
}
.cxrw{
	width: 101.8%;
	font-family: SansHans;
}
.cxra{
	width: 48.2%;
	margin-right: 1.8%;
	padding: 18px 10px;
	border: 1px solid #cdcdcd;
	margin-top: 20px;
	position: relative;
}
.cxraimg{
	display: block;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
}
.cxraimg img{
	max-height: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
.cxratxt{
	width: 240px;
}
.cxratxta1{
	display: block;
	color: #282828;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}
.cxratxta1:hover{
	color: #DB2626;
}
.cxratxt p{
	font-size: 12px;
	color: #666;
	line-height: 25px;
}
.cxratxt1{
	font-size: 12px;
	color: #666;
	line-height: 25px;
}
.cxratxt1 i{
	font-size: 18px;
	color: #DB2626;
}
.cxratxt1 em{
	font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.cxratxtbot a{
	display: inline-block;
	margin-top: 20px;
	padding: 4px 22px;
	border: 1px solid #DB2626;
	font-size: 17px;
	color: #DB2626;
	border-radius: 4px;
	margin-right: 20px;
}
.cxratxtbot a.active{
	background: #DB2626;
	color: #fff;
}
.cxraico{
	width: 50px;
	height: 44px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/cxrico2_03.png) no-repeat center;
	background-size: 100% 100%;
	line-height: 35px;
	text-align: center;
	color: #666;
	font-size: 16px;
}
.cxraico_active{
	background: url(../images/cxrico1_03.png) no-repeat center;
	background-size: 100% 100%;
	color: #fff;
}
.page a{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	font-size: 16px;
	color: #666;
	line-height: 28px;
	margin: 0 3px;
}
.page a.pagea{
	width: auto;
	padding: 0 10px;
}
.page a.active,.page a:hover{
	background: #DB2626;
	border: 1px solid #DB2626;
	color: #fff;
}
.page span{
	display: inline-block;
	line-height: 30px;
	font-size: 16px;
	color: #1c1c1c;
}
.page input.pageipt1{
	height: 30px;
	width: 40px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 0 10px;
	font-size: 16px;
}
.page input.pageipt1:focus{
	border: 1px solid #DB2626;
}
.page input.pageipt2{
	line-height: 30px;
	padding: 0 15px;
	background: #DB2626;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-left: 5px;
}
/*登录注册*/
.lghead{
	height: 130px;
	border-bottom: 2px solid #DB2626;
}
.lghead .logo{
	margin-top: 38px;
}
.lghr{
	line-height: 130px;
}
.lghr span{
	font-size: 18px;
	color: #DB2626;
	margin-left: 70px;
}
.lghr span img{
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 10px;
}
.lgwidth{
	width: 960px;
	margin: 0 auto;
	font-family: SansHans;
}
.lgtit{
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	line-height: 50px;
	padding-left: 60px;
}
.lgtit span{
	width: 4px;
	height: 24px;
	background: #DB2626;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -3px;
	display: inline-block;
}
.lgw{
	width: 470px;
	display: inline-block;
	font-size: 16px;
}
.lgb {
	margin-bottom: 20px;
}
.lgb span.fl{
	width: 125px;
	text-align: right;
	line-height: 40px;
}
.lgbr{
	width: 340px;
}
.lgbrinput input{
	height: 40px;
	border: 1px solid #ccc;
	padding: 0 15px;
	width: 100%;
	font-size: 16px;
	font-family: SansHans;
}
.lgbrinput input:focus{
	border: 1px solid #DB2626;
}
.lgbrinputcp input{
	width: 170px;
}
.code{
	width: 100px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
	margin-left: 10px;
}
.code img{
	display: block;
	width: 100%;
	height: 100%;
}
.lgbrinputcp i{
	color: #069fd8;
	line-height: 40px;
	cursor: pointer;
}
.lgbrsbm input{
	height: 40px;
	width: 100%;
	background: #DB2626;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.lgbra a:hover{
	color: #DB2626;
}
.lgbrline{
	height: 1px;
	background: #ccc;
}
.lgbrline span{
	display: inline-block;
	width: 114px;
	position: absolute;
	left: 50%;
	margin-left: -57px;
	line-height: 30px;
	margin-top: -15px;
	color: #999;
	font-size: 14px;
	background: #fff;
}
.lgbr a{
	display: inline-block;
	color: #999;
	font-size: 14px;
}
.lgbr img{
	margin-right: 10px;
}
.lgbrb i{
	display: inline-block;
	width: 1px;
	height: 18px;
	background: #ccc;
	vertical-align: middle;
	margin: 0 15px;
	margin-top: -3px;
}
.lgtitl a{
	display: inline-block;
	height: 50px;
	background: #efefef;
	padding: 0 20px;
}
.lgtitl a.active{
	background: #DB2626;
	color: #fff;
}
.lgtitr{
	font-size: 14px;
	color: #999;
}
.lgtitr i{
	color: #666;
}
.lgtitr:hover i{
	color: #DB2626;
}
.hqcode{
	height: 30px;
	display: inline-block;
	padding: 0 15px;
	border-left: 1px solid #ccc;
	position: absolute;
	right: 0;
	top: 5px;
	line-height: 30px;
	cursor: pointer;
	color: #DB2626;
}

/*检索*/
.scwidth{
	border: 1px solid #ccc;
	padding: 0 50px;
}
.scwb{
	padding: 50px 0;
	border-bottom: 1px solid #ccc;
}
.scwb:last-child{
	border-bottom: 0;
}
.scwbl{
	width: 110px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
	background: #efefef;
}
.scwbr{
	width: 740px;
}
.scwbr1 {
	margin-bottom: 20px;
}
.scwbr1:last-child{
	margin-bottom: 0;
}
.scwbr1 span.fl{
	width: 100px;
	text-align: right;
	line-height: 26px;
	color: #666;
}
.scwbr1r{
	width: 630px;
}
.scwbr1ript{
	border: 1px solid #ddd;
	height: 26px;
	line-height: 26px;
	width: 240px;
	padding: 0 10px;
}
.scwbr1ript:focus{
	border: 1px solid #DB2626;
}
.scwbr1r_check label{
	line-height: 26px;
	color: #666;
	margin-right: 20px;
	cursor: pointer;
	position: relative;
}
.scwbr1r_check label i{
	width: 16px;
	height: 16px;
	display: inline-block;
	border: 1px solid #ccc;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 5px;
}
.scwbr1r_check input{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-appearance: checkbox;
	cursor: pointer;
	opacity: 0;
}
.scwbr1r_check label.active i{
	border: 1px solid #DB2626;
	background: url(../images/xz_03.png) no-repeat center;
}
.scwbr1r_select{
	color: #666;
}
.scwbr1r_select select{
	width: 110px;
	height: 26px;
	border: 1px solid #ccc;
	-webkit-appearance: menulist;
	color: #666;
	padding-left: 10px;
}
.scwbr1r_select1 select{
	width: 205px;
}
.scradio{
	line-height: 26px;
	color: #666;
	margin-bottom: 20px;
}
.scradio:last-child{
	margin-bottom: 0;
}
.scradior input{
	border: 1px solid #ccc;
	height: 26px;
	width: 110px;
	padding: 0 10px;
}
.scradior input:focus{
	border: 1px solid #DB2626;
}
.scradio i{
	width: 16px;
	height: 16px;
	border: 2px solid #cccccc;
	border-radius: 16px;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
}
.scradio i.active{
	background: url(../images/radio_03.png) no-repeat center;
}
.scradio i input{
	-webkit-appearance: radio;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}
.scwbr1r_select span{
	margin: 0 3px;
}
.scwbrsbm input{
	background: url(../images/scico_03.png) no-repeat left center #DB2626;
	background-position-x: 10px;
	padding: 0 15px;
	padding-left: 40px;
	color: #fff;
	font-size: 18px;
	height: 32px;
	cursor: pointer;
}
.scwbrsbm a{
	margin-left: 10px;
	line-height: 32px;
}
.tjbn{
	height: 450px;
	background-size: cover !important;
}
.tjmd{
	padding: 50px 0 0 0;
	font-family: SansHans;
}
.tjtop span{
	text-align: center;
	padding: 0 8px;
	border: 2px solid #DB2626;
	color: #DB2626;
	border-top: 0;
	border-bottom: 0;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}
.tjw{
	width: 106%;
}
.tja{
	width: 19%;
	margin-right: 6%;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	margin-top: 30px;
}
.tjaimg{
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	display: block;
}
.tjaimg img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
.cxratxtbotcp{
	margin-top: 10px;
}
.cxratxtbotcp a{
	margin: 0;
	padding: 4px 27px;
}
.tja1{
	color: #282828;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	margin-top: 5px;
	display: block;
}
.tja p{
	color: #656565;
}
/*图书列表*/
.bl1tit{
	font-size: 16px;
	color: #666;
	font-weight: normal;
	margin-bottom: 15px;
}
.bl1tit i{
	color: #DB2626;
}
.bl1width{
	border: 1px solid #e3e3e3;
}
.bl1w{
	position: relative;
	background: #ededed;
	border-bottom: 1px solid #e3e3e3;
}
.bl1w:last-child{
	border-bottom: 0;
}
.bl1w span.fl{
	left: 0;
	top: 0;
	width: 120px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
.bl1wr{
	width: 1078px;
	height: 40px;
	overflow: hidden;
	background: #fff;
	padding-right: 120px;
}
.bl1wr_active{
	height: auto;
}
.bl1wr a{
	font-size: 16px;
	color: #666;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
}
.bl1wr a:hover,.bl1wr a.active{
	color: #DB2626;
}
.rmorea{
	width: 120px;
	text-align: center;
	font-size: 16px;
	color: #666;
	line-height: 40px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
	padding: 0 10px;
}
.rmorea a{
	padding: 0;
	margin-right: 5px;
}
.rmorea i:hover{
	color: #DB2626;
}
.rmoreai_1{
	display: block;
}
.rmoreai_2{
	display: none;
	color: #DB2626;
}
.bl2top{
	border-bottom: 1px solid #DB2626;
}
.bl2tl a{
	height: 30px;
	line-height: 28px;
	padding: 0 15px;
	border: 1px solid #EDEDED;
	margin-left: -1px;
	color: #666;
	display: inline-block;
	float: left;
}
.bl2tl a.active{
	border: 1px solid #DB2626;
	background: #DB2626;
	color: #fff;
}
.bl2tl a i{
	color: #999;
}
.bl2tl a.active i{
	color: #fff;
}
.bl2tlsp{
	display: inline-block;
	padding-top: 5px;
}
.bl2tlsp i{
	display: block;
	line-height: 8px;
}
.colorindex{
	color: #DB2626;
}
.bl2tr{
	color: #666;
	line-height: 30px;
}
.bl2trpg{
	border: 1px solid #EDEDED;
	border-bottom: 0;
	height: 30px;
	line-height: 28px;
	padding: 0 10px;
	margin-left: 10px;
}
.bl2trpg a{
	display: inline-block;
	color: #999;
}
.bl2trpg a.active{
	color: #DB2626;
}
.bl2trpg span{
	margin: 0 10px;
}
.cxracp{
	margin-top: 40px;
	border: 0;
	width: 100%;
	padding: 0;
}
.cxracp .cxraimg{
	width: 220px;
	height: 220px;
	padding: 10px;
	border: 1px solid #ccc;
}
.cxracp .cxratxt{
	width: 685px;
	float: left;
	margin-left: 20px;
}
.cxracp .cxratxta1{
	font-size: 18px;
}
.cxracp .cxratxt p{
	font-size: 14px;
}
.cxracp .cxratxt .cxracp_p{
	font-size: 12px;
	color: #999;
	line-height: 18px;
	height: 32px;
}
.cxracp .cxratxtbot a{
	padding: 3px 30px;
}
/*图书详情*/
.bitit{
	border-bottom: 1px solid #cecece;
	padding-bottom: 10px;
}
.bi1l{
	width: 380px;
}
.bi1limg{
	width: 100%;
	height: 380px;
	line-height: 380px;
	text-align: center;
	border: 1px solid #cecece;
}
.bi1limg img{
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.bi1ltxt a{
	margin: 0 10px;
	color: #666;
	margin-top: 15px;
	display: inline-block;
}
.zmico{
	width: 41px;
	height: 41px;
	background: url(../images/zoomico_03.png) no-repeat center;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}
.bi1bg{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display: none;
	cursor: zoom-out;
}
.bi1r{
	width: 770px;
}
.bi1r h4{
	font-size: 18px;
	line-height: 40px;
}
.bi1r p{
	font-size: 14px;
	color: #666;
	line-height: 30px;
}
.bi1ri{
	font-size: 20px !important;
}
.bi1rem{
	font-size: 14px !important;
}
.bi1ra a{
	line-height: 40px;
	width: 136px;
	border: 1px solid #DB2626;
	color: #DB2626;
	line-height: 38px;
	text-align: center;
	font-size: 18px;
	margin-right: 15px;
}
.bi1ra a.active{
	background: #DB2626;
	color: #fff;
}
.bi1ratxt{
	line-height: 18px;
	font-size: 12px;
	color: #999;
}
.bi1ratxt span{
	display: block;
}
.bi2l{
	width: 200px;
}
.bi2lw{
	border: 1px solid #bfbdbd;
}
.bi2lwtit{
	background: #EFEFEF;
	line-height: 36px;
	padding: 0 20px;
	font-size: 16px;
	font-weight: normal;
}
.bi2la{
	padding: 15px 20px;
	border-bottom: 1px solid #BFBDBD;
	width: 100%;
}
.bi2la:last-child{
	border-bottom: 0;
}
.bi2la1{
	line-height: 55px;
	font-size: 16px;
	color: #666;
	padding: 0 15px;
	border-bottom: 1px solid #BFBDBD;
}
.bi2la1:last-child{
	border-bottom: 0;
}
.bi2la1 i{
	line-height: 55px;
	font-size: 20px;
	color: #888;
}
.bi2la1:hover{
	color: #DB2626;
}
.bi2r{
	width: 990px;
}
.bi2rtop{
	border-bottom: 1px solid #bfbdbd;
	height: 50px;
}
.bi2rtop a{
	width: 160px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
}
.bi2rtop a.active{
	background: #DB2626;
	color: #fff;
}
.bi2r1wtit{
	font-size: 16px;
	font-size: 18px;
	line-height: 32px;
	padding: 0 15px;
	display: inline-block;
	background: #EFEFEF;
	font-weight: normal;
}
.bi2r1w_1{
	font-size: 14px;
	color: #666;
	line-height: 26px;
}
.bi2r1w_1tab{
	font-size: 12px;
	color: #666;
	line-height: 30px;
	width: 100%;
}
.bi2r1w_1tab td{
	width: 33.333%;
}
.bi2r1w_2 a{
	display: block;
	line-height: 26px;
}
.bi2r1w_2a{
	height: 260px;
	overflow: hidden;
}
.bi2r1w_2 i{
	cursor: pointer;
}
.bi2r2tit{
	font-size: 18px;
	height: 52px;
	line-height: 52px;
	background: #efefef;
	padding: 0 30px;
}
.bi2r2a{
	padding: 25px 0;
	border-bottom: 1px solid #bfbdbd;
}
.bi2r2a span.fl{
	display: inline-block;
	width: 150px;
	line-height: 60px;
	text-align: center;
}
.bi2r2am{
	width: 640px;
	font-size: 12px;
	padding: 5px 0;
	line-height: 25px;
	color: #666;
}
.bi2r2am em{
	color: #999;
}
.bi2r2am i{
	color: #DB2626;
}
.bi2r2ar{
	width: 180px;
	line-height: 60px;
}
.bi2r2ar a{
	color: #999;
	font-size: 12px;
	float: left;
	margin-right: 30px;
}
.bi2r2ar a:last-child img{
	margin-top: 2px;
}
